Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.15
dateutils==0.6.6
dpkt==1.8
gnureadline==6.3.3
ipdb==0.8
ipython==2.2.0
itsdangerous==0.24
kombu==3.0.23
pymongo==2.7.2
python-dateutil==2.2
pytz==2014.7
redis==2.10.3
requests==2.4.1
six==1.8.0
texttable==0.8.1
wsgiref==0.1.2
