{% extends "base.html" %}

{% block title %}EK Analyzer{% endblock %}
{% block head %}
    {{ super() }}
<!-- add custom css and js -->
{% endblock %}

{% block content %}

<h1>Details</h1>


{% for request in requests %}

<table class="pure-table">
    <tbody>

    <tr>
        <td>URI</td>
        <td>{{request['uri']}}</td>
    </tr>

    <tr>    
        <td>User Agent</td>
        <td>{{request['user-agent']}}</td>
    </tr>

    <tr>    
        <td>Host</td>
        <td>{{request['host']}}</td>
    </tr>


    <tr>    
        <td>Filetype</td>
        <td>{{request['filetype']}}</td>
    </tr>

    <tr>    
        <td>Mimetype</td>
        <td>{{request['mimetype']}}</td>
    </tr>

    {% if request['yara'] %}
    <tr>    
        <td>Yara</td>
        <td>{{request['yara']}}</td>
    </tr>
    {% endif %}

    <tr>
        <td>VT</td>
        <td>


        {% if request.vt %}

            {% if request.vt.positives %}
                <strong>{{request.vt.positives}}/{{request.vt.total}}</strong>
            {% else %}
                <i>No detections</i>
            {% endif %}
            {% if request.vt.permalink %}
                <a href="{{request.vt.permalink}}">View VT Report</a> 
            {% endif %}
        {% else %}
                <i>Not analyzed</i>
        {% endif %}


        <!--
            {% for av in request['vt']['scans']  %}

                {% if  request['vt']['scans'][av]['detected'] %}
                 {{av}}  {{request['vt']['scans'][av]['version']}}  = {{request['vt']['scans'][av]['result']}} <br />
                {% endif %}

            {% endfor %}

        -->


        </td>
    

</td>        
    </tr>







    </tbody>
</table>
<br />

{% endfor %}


{% endblock %}
