{% extends "base.html" %}

{% block title %}EK Analyzer{% endblock %}
{% block head %}
    {{ super() }}
<!-- add custom css and js -->
{% endblock %}

{% block content %}

<h1>Details</h1>


{% for request in requests %}

<table class="pure-table">
    <tbody>

    <tr>
        <td>URI</td>
        <td>{{request['uri']}}</td>
    </tr>

    <tr>    
        <td>User Agent</td>
        <td>{{request['user-agent']}}</td>
    </tr>

    <tr>    
        <td>Host</td>
        <td>{{request['host']}}</td>
    </tr>


    <tr>    
        <td>Filetype</td>
        <td>{{request['filetype']}}</td>
    </tr>

    <tr>    
        <td>Mimetype</td>
        <td>{{request['mimetype']}}</td>
    </tr>

    <tr>    
        <td>sha256</td>
        <td>{{request['content_hash']}}</td>
    </tr>


    <tr>    
        <td>Date</td>
        <td>{{request['date']}}</td>
    </tr>


    {% if request['yara'] %}
    <tr>    
        <td>Yara</td>
        <td>
            {% for y in request['yara'].main %}
            <strong>{{y.rule}}</strong><br />
            {% endfor %}
        </td>
    </tr>
    {% endif %}


    {% if request['clamav'] %}
    <tr>    
        <td>ClamAV</td>
        <td><strong>{{request['clamav']}}</strong></td>
    </tr>
    {% endif %}    

    <tr>
        <td>VT</td>
        <td>


        {% if request.vt %}

            {% if request.vt.positives %}
                <strong>{{request.vt.positives}}/{{request.vt.total}}</strong>
            {% else %}
                <i>No detections</i>
            {% endif %}
            {% if request.vt.permalink %}
                <a href="{{request.vt.permalink}}">View VT Report</a> 
            {% endif %}
        {% else %}
                <i>Not analyzed</i>
        {% endif %}


        <!--
            {% for av in request['vt']['scans']  %}

                {% if  request['vt']['scans'][av]['detected'] %}
                 {{av}}  {{request['vt']['scans'][av]['version']}}  = {{request['vt']['scans'][av]['result']}} <br />
                {% endif %}

            {% endfor %}

        -->

        </td>       
    </tr>

    <tr>    
        <td>Tags</td>
        <td>
            {% for t in request['tags'] %}
                {% if request['tags'][t] > 0 %}
                    {{t}}<br />
                {% endif %}
            {% endfor %}
        </td>
    </tr>





    </tbody>
</table>
<br />

{% endfor %}


{% endblock %}
