{% extends "base.html" %}

{% block title %}EK Analyzer{% endblock %}
{% block head %}
    {{ super() }}
<!-- add custom css and js -->
{% endblock %}

{% block content %}

    <a href="{{ url_for('list') }}">View analysis</a>


    <h1>Upload a pcap file</h1>

	<form class="pure-form pure-form-aligned" action="/upload-ek/" method="post" enctype="multipart/form-data" accept=".pcap">
	    <fieldset>

	        <div class="pure-control-group">
	            <label for="foo">pcap file</label>
	            <input id="foo" name="pcap" type="file">
	        </div>
	        <div class="pure-controls">
<!--
	            <label for="cb" class="pure-checkbox">
	                <input id="cb" type="checkbox">Make only the first query, fetch resources and follow redirects 
	            </label>
-->
	            <button type="submit" class="pure-button pure-button-primary">Submit</button>
	        </div>
	    </fieldset>
	</form>




{% endblock %}
