{% extends "base.html" %}

{% block title %}EK Analyzer{% endblock %}
{% block head %}
    {{ super() }}
<!-- add custom css and js -->
{% endblock %}

{% block content %}

<h1>List</h1>

{% for item in analysis %}                


<table class="pure-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Result</th>
            <th>View</th>
        </tr>
    </thead>

    <tbody>

    {% for key, result in item.iteritems() %}                       
     
            <tr>
                <td>{{key}}</td>
                <td>
                   
                {% if result %}
                    Infected
                {% else %}
                    Clean 
                {% endif %}

                </td>

                <td><a href="{{ url_for('view', hash=key) }}">View</a></td>
            </tr>

    {% endfor %}

    </tbody>
</table>
<br />
{% endfor %}




{% endblock %}
