{% extends "base.html" %}

{% block title %}EK Analyzer{% endblock %}
{% block head %}
    {{ super() }}
<!-- add custom css and js -->
{% endblock %}
{% block content %}
<h1>User Agents</h1>
<table class="pure-table">
    <thead>
        <tr>
            <th>User Agent</th>
            <th>Result</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for request in requests %}
        <tr>
            <td>
                {% if original_ua == request['_id']['user-agent'] %} <strong> {% endif %}
                {{ request['_id']['user-agent'] }}
                {% if original_ua == request['_id']['user-agent'] %} </strong> {% endif %}                
            </td>
        <td>
                {% if request.value.malicious %}
                    Infected
                {% else %}
                    Clean 
                {% endif %}
        </td>
        <td>
            <a href="{{ url_for('details', hash=request['_id']['hash'], ua=request['_id']['UA']) }}">View</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
